fastapi
uvicorn
pydantic
pandas
matplotlib
seaborn
ipywidgets
IPython
numpy
plotly
requests
tqdm
redis
gcc7
graphrag==1.2.0
neo4j
sqlalchemy
python-dateutil
biopython
GEOparse
psycopg2-binary
python-jose
passlib[bcrypt]
python-multipart
openpyxl
openai
duckdb==1.1.2
asyncpg
tzlocal
langchain
langchain_community
langchain-openai
bs4
lxml